<p id="notice"><%= notice %></p>

<h1>小野&近野ホールディングス Blog</h1>




          <% @blogs.each do |blog| %>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h1 class="card-title"><%= blog.title %></h1>
                <h6 class="card-subtitle mb-2 text-muted"><%= blog.content %></h6>
                <a class="card-text"><button type="button" class="btn btn-danger"><%= link_to 'Show', blog %></button></a>
                <a class="card-text"><button type="button" class="btn btn-dark"><%= link_to 'Edit', edit_blog_path(blog) %></button></a>
                <a class="card-text"><button type="button" class="btn btn-danger"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></button></a>
              </div>
            </div>
          <% end %>


<br>
<%= link_to 'New Blog', new_blog_path %>

</i>
v<i class="bi bi-plus-circle-fill"></i>


<%= link_to(new_blog_path)  do %>

  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg>
  
  <% end %>

